.dialog {
<<<<<<< HEAD
    border: 1px solid #e6e6e6;
=======
    border: 1px solid #757575;
>>>>>>> d44ff18a5c7427420ddd9648024489b0ea2c8091
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

.dialog a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.dialog a:hover {
    background-color: #f5f5f5;
}

.dialog a:visited {
    color: transparent
}

.dialog_media {
    display: grid;
<<<<<<< HEAD
    grid-template-areas: "mobj","minfo";
    grid-template-columns: 2fr 6fr;
    height: 100%;

=======
    grid-template-areas: "mo","mi";
    grid-template-columns: 2fr 6fr;
    height: 100%;
>>>>>>> d44ff18a5c7427420ddd9648024489b0ea2c8091
}

.media_object {
    width: 100%;
    height: 100%;
<<<<<<< HEAD
    grid-area: "mobj";
    object-fit: scale-down;
=======
    grid-area: "mo";
    object-fit: cover;
>>>>>>> d44ff18a5c7427420ddd9648024489b0ea2c8091
}

.media_info {
    padding-left: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
<<<<<<< HEAD
    grid-area: "minfo";
    background-color: #fff;
=======
    grid-area: "mi";
>>>>>>> d44ff18a5c7427420ddd9648024489b0ea2c8091
}


a.active .media_info {
    background-color: #4687ce;
    color: #fff;
}
