.header {
    grid-area: h;
    display: grid;
    grid-template-areas: "hl hf hlog";
<<<<<<< HEAD
    grid-template-columns: 150px 9fr 1fr;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: tomato;
=======
    grid-template-columns: 2fr 9fr 1fr;
>>>>>>> d44ff18a5c7427420ddd9648024489b0ea2c8091
    
  }

.header_link {
  grid-area: hl;
  background-color: #4687ce;
  height: 100%;
}

.header_features {
  grid-area: hf;
  text-align: center;
<<<<<<< HEAD
=======
  border: 1px solid #d3d3d3;
>>>>>>> d44ff18a5c7427420ddd9648024489b0ea2c8091
  box-sizing: border-box;
}

.header a  {
    font-size: 1.2rem;
    color: white;
    max-width: 100%;
    display: block;
    text-align: center;
<<<<<<< HEAD
    line-height: 3.3rem;
    width: 100%;
    height: 101%;
    text-decoration: none;
}

.header p {
=======
    line-height: 4rem;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

p {
>>>>>>> d44ff18a5c7427420ddd9648024489b0ea2c8091
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.loginBlock {
  grid-area: hlog;

  background-color: blue;
<<<<<<< HEAD
}

@media screen and (max-width: 600px) {
  .header {
    grid-template-columns: 90px 9fr 1fr;
  }
  .header a {
    line-height: 2rem;
  }
=======
>>>>>>> d44ff18a5c7427420ddd9648024489b0ea2c8091
}