.nav {
    grid-area: n;
    border: 1px solid black;
    background-color: #212121;
}

.item a {
    display: block;
    text-align: center;
    line-height: 50px;
    color:#757575;
    width: 100%;
    height: 50px;
    text-decoration: none;
}

.item a:hover, .item a.active {
    background-color: #141414;
    color: white;
}